<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Product</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/main">The Bookstore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/main">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/main/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/main/list">Lists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/main/cart">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/main/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/main/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/main/purchase/history">Account</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id=alert>

    </div>
    <main id={{ id }}>
      <div>
      <h2>
        {{ name }}
      </h2>

      <h3>
        ${{ price }}<br>
        <button id="add" type="button" class="btn btn-primary">Add To Cart</button>
        <span class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add To List
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            {% for list in lists %}
            <a class="dropdown-item listname" id={{ list.id }}>{{ list.name }}</a>
            {% endfor %}

            <!-- <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </span>
        <!-- <button id="list" type="button" class="btn btn-primary">Add To List</button> -->
      </h3>

      <img src={{ image_url }} alt={{ name }}>
    </div>
      <p>
        {{ description }}
      </p>
    </main>

    <!-- Footer -->
    <footer class="py-2 bg-dark fixed-bottom">
      <div class="container">
        <p class="m-0 text-center text-white">Conner Ardman, Nick Hytrek, Bradley Balansay | Copyright &copy; 2019</p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'addToCart.js' %}"></script>
  </body>
</html>
